<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/responsivee.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>

        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1920:@DateTime.Now.Year",
                minDate: 0,
                dateFormat: "yy/mm/dd",
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            });
        });

    </script>

    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Reservas</title>
</head>
<style>
    #content {
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>

<br />
<br />
<br />

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

<div class="form-horizontal text-center" lang="es" id="content" autocomplete="off" style=" width:40%;height:60%; border-radius:15px; background-color: #EAFAF1
">
    <h4 style="font-family:Vudotronic">Reserva de Canchas</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" autocomplete="off">
        <label>Elije Cancha y Hora:</label>
        <br />
        <div class="col-md-10" style=" width:100%; margin-left:8%; margin-right:5% ">
            @*@Html.DropDownListFor(model => "", ViewBag.DeportesList as SelectList, "--Selecciona cancha y hora--", new { @class = "form-control text-center ", required = "required" })*@
        </div>
    </div>
    <div class="form-group" autocomplete="off">
        <label>Ingresa tu Rut para Confirmar:</label>
        <br />
        <div class="col-md-10" style=" width:100%; margin-left:8%; margin-right:5% ">
            <input type="text"  name="rut" required autocomplete="off" placeholder="11222333-4"/>
        </div>
    </div>
    <br />
    <div class="form-group text-center ">
        <div class="">
            <input type="submit" value="Confirmar" class="btn btn-info" />
        </div>
        <br />
        <div class="btn btn-outline-warning right">
            @Html.ActionLink("Volver", "../Reservas/Reservas")
        </div>
    </div>

</div>
}