
<body style="background-color: #9ed0c9">
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer class="text-center">
            <p style="font-family:Vudotronic">Email:&nbsp;&nbsp; soporte@tucancha.cl  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Telefonos:&nbsp;&nbsp; +56973051916 / +56957573449</p>
            <p style="font-family:Vudotronic">
                &copy; @DateTime.Now.Year - TuCancha &nbsp;&nbsp;&nbsp;
                <a title="instagram" href="http://www.instagram.com"><img src="~/assets/img/ig.png" style="width:25px;height:25px" /></a>&nbsp;&nbsp;
                <a title="instagram" href="http://www.facebook.com"><img src="~/assets/img/fb.png" style="width:25px;height:25px" /></a>&nbsp;&nbsp;
                <a title="instagram" href="http://www.twitter.com"><img src="~/assets/img/twi.png" style="width:35px;height:25px" /></a>
            </p>
        </footer>
</body>

