<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Correo</title>
</head>
<body style="background-color: white">

    <!--Copia desde aquí-->
    <table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">

        <tr>
            <td style="background-color: #EAFAF1">
                <div style="color: #34495e; margin: 4% 10% 2%; font-family: sans-serif">
                    <h2 style="color: #e67e22; margin: 0 0 7px">Reserva creada con Exito!</h2>
                    <p style="margin: 2px; font-size: 15px">
                        Estimado/a
                        <ul> <li>   Recuerda respetar el horario </li></ul>
                        <ul> <li> Conservar la distancia</li></ul>
                        <ul> <li> Recuerda confirmar tu cancha al llegar</li></ul>
                    </p>
                    <p style="text-align:center"> Saluda cordialmente el equipo de</p>
                    <p style="text-align:center"> Tu Cancha</p>

                    <div style="width: 100%;margin:20px 0; display: inline-block;text-align: center">
                        <a href="https://ibb.co/v4Yh44n"><img src="https://i.ibb.co/hFfcFFz/fotito.png" alt="fotito" border="0" style="padding: 0; width: 200px; margin: 5px"></a>
                    </div>
                    <p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">TuCancha</p>
                    <p style="color: #b3b3b3; font-size: 8px; text-align: center;margin: 30px 0 0">Create By Wkaz</p>
                </div>
            </td>
        </tr>
    </table>
    <!--hasta aquí-->

</body>
</html>